# Dependencies
node_modules/
.pnpm-store/

# Build & Output Files
dist/
build/
out/
web/
*.js.map

# IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS System Files
.DS_Store
Thumbs.db

# Logs & Temporary Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.tmp/